<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
<connectionStrings>
  <add name="DatabaseServices" connectionString="Data Source=CSUFLAPTOP-01;Initial Catalog=Software;User Id=bg1234;Password=bg1234" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>